# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Packages
eggs/
.eggs/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# SQLite databases
*.sqlite3
*.db
ena.db

# macOS
.DS_Store

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Docker / Environment variables
.env.local
.env.*.local
